{{ define "main" }}
    <div class="grid grid-auto lg:grid-cols-2">
        <div class="border-r border-stone-200">
            <div class="p-8">
                <h1 class="text-2xl leading-relaxed prose">
                    <div class="gsap-heading">
                        {{ .Params.heading }}
                    </div>
                </h1>
            </div>
            <div class="flex gap-12 mx-8 mb-8">
                {{ partial "partials/Atom-btn.html" (dict "content" "聯絡我們" "url" "/") . }}
                {{ partial "partials/Atom-btn.html" (dict "content" "觀看作品" "url" "/project") . }}
            </div>

            <div>
                {{ .Content | safeHTML }}
                {{ range .Params.cover }}
                    {{ $img := .src }}
                    <img
                        class="sticky top-0 w-full gsap-image"
                        src="{{ $.Site.Params.cloudinaryImg }}/dpr_auto,f_auto/about/{{ path.Base $img }}"
                        srcset="
                            {{ $.Site.Params.cloudinaryImg }}/w_300,dpr_auto,f_auto,q_auto/about/{{ path.Base $img }}   300w,
                            {{ $.Site.Params.cloudinaryImg }}/w_600,dpr_auto,f_auto,q_auto/about/{{ path.Base $img }}   600w,
                            {{ $.Site.Params.cloudinaryImg }}/w_900,dpr_auto,f_auto,q_auto/about/{{ path.Base $img }}   900w,
                            {{ $.Site.Params.cloudinaryImg }}/w_1200,dpr_auto,f_auto,q_auto/about/{{ path.Base $img }} 1200w
                        "
                        sizes="(min-width: 1040px) 50vw, 100vw"
                        alt="{{ .alt }}"
                        width="{{ .height }}"
                        height="{{ .width }}"
                        loading="lazy"
                    />
                {{ end }}
            </div>
        </div>
        <div class="w-full">
            {{ range .Params.infos }}
                <section>
                    <h2 class="p-8 py-4 bg-stone-100 gsap-list">
                        <svg
                            class="inline-block mr-4 md:hidden"
                            xmlns="http://www.w3.org/2000/svg"
                            height="20"
                            width="20"
                        >
                            <path
                                d="M10 12.812 5 7.812 6.229 6.583 10 10.354 13.771 6.583 15 7.812Z"
                            />
                        </svg>

                        {{ .title }}
                    </h2>
                    <div class="py-8 prose gsap-list">
                        <p>{{ .content }}</p>
                    </div>
                </section>
            {{ end }}


            <!-- Contact -->
            <section>
                <h2 class=" gsap-list">
                    <a class="block p-8 py-4 bg-stone-100" href="/post">
                        <svg
                            class="inline-block mr-4 md:hidden"
                            xmlns="http://www.w3.org/2000/svg"
                            height="20"
                            width="20"
                        >
                            <path
                                d="M10 12.812 5 7.812 6.229 6.583 10 10.354 13.771 6.583 15 7.812Z"
                            />
                        </svg>
                        聯絡我們
                    </a>
                </h2>
                <div class="grid grid-cols-1 md:grid-cols-2">
                    <div class="pt-8 pb-0 pl-8 pr-8 md:pb-8 gsap-list">
                        {{ with .Site.Params.brandLocationtc }}
                            <p>{{ . }}</p>
                        {{ end }}
                        {{ with .Site.Params.brandLocation }}
                            <p>{{ . }}</p>
                        {{ end }}
                    </div>
                    <div class="p-8 gsap-list">
                        {{ with .Site.Params.brandphone }}
                            <p>
                                T：{{ . }}
                            </p>
                        {{ end }}
                        {{ with .Site.Params.brandEmail }}
                            <p>
                                E：{{ . }}
                            </p>
                        {{ end }}
                    </div>
                </div>
            </section>

            {{ partial "partials/Organism-contactSection.html" . }}
        </div>
    </div>
{{ end }}
