<nav
    class="fixed bottom-0 top-auto z-30 flex items-center justify-between w-full ml-auto border-t border-t-primary-100 lg:border-t-0 navbarMainHeight lg:bottom-auto lg:top-0 bg-primary-50"
>
    <div class="flex items-center w-1/2 h-full px-8 border-primary-200">
        <a href="/" class="">
            <h2 class="">
                <!-- Logo -->
                <!-- <img src="" alt="SiteLogo - Small" /> -->

                <!-- Logomark -->
                <!-- <img src="" alt="SiteLogo - Large" /> -->

                <span class="text-xl font-bold md:text-2xl">
                    {{ .Site.Params.navBrandShort }}
                </span>
            </h2>
        </a>
    </div>

    <ul
        id="navlistMain"
        class="left-0 flex w-full mr-px lg:w-1/2 border-primary-200"
    >
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li
                class="flex-1
            {{ if eq .Title "首頁" }}
                    hidden md:inline-block
                {{ end }}
            "
            >
                <a
                    class="inline-block w-full p-4 text-center border-l border-primary-200 hover:bg-primary-100
                    {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                        navbarMain--active
                    {{ end }}
                    {{ if eq $.Section .Identifier }}
                        navbarMain--active
                    {{ end }}
                    "
                    href="{{ .URL }}"
                    title="{{ .Title }}"
                >
                    {{ .Name }}
                </a>
            </li>
        {{ end }}
    </ul>
</nav>
